.the-header {
  position: sticky;
  top: 0;
  z-index: 9998;

  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-ocean-secondary);
  box-shadow: 0 0 2em rgba(219, 219, 219, 0.1);
}

.the-header__wrapper {
  padding: 15px;

  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.the-header__heading {
  width: 32px;
  height: 32px;

  &:hover {
    .the-header__heading-icon {
      opacity: 0.8;
    }
  }

  .the-header__heading-icon {
    width: 32px;
    height: 32px;
  }
}

.the-header__select-lang {
  max-width: 70px;
  text-transform: uppercase;

  .custom-select__list {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .custom-select__item {
    text-align: center;
    border-bottom: 1px solid var(--color-ocean-secondary);

    &:last-child {
      border: none;
    }
  }
}

.the-header__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;

  .the-header__select-lang {
    border: none;
    border-bottom: 1px solid var(--color-ocean-secondary);
  }

  .the-header__btn-menu {
    background: transparent;
    border: none;

    width: 44px;
    height: 44px;

    &:hover {
      opacity: 0.8;
    }

    .the-header__btn-icon {
      fill: none;
      color: var(--color-accent);

      width: inherit;
      height: inherit;
    }
  }

  .the-header__btn-contact {
    background: transparent;
    border: none;
    color: var(--color-beige);
    font-size: 18px;
    letter-spacing: 1px;

    // @include media('xs') {
    //   display: none;
    // }

    &:hover {
      opacity: 0.8;
    }
  }
}